*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html{
    background-color: #008891;
}
    

.box {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin: 0 auto;
}

figure {
    width: 100%;
    height: 50%;
}

#one {
    background-color: #00587a;
    position: relative;
    top: 30px;
    border-radius: 50px;
    width: 22%;
    min-width: 200px;
    max-width: 250px;
    max-height: 75px;
    padding: 20px;
    text-align: center;
    border: 5px white ;
}
#two {
    background-color: #0f3057;
    width: 80%;
    min-width: 500px;
    min-height:500px;   
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    border: 5px white
}

